mixin Gallery(data)
  .gallery
    h2.gallery__header= data.header
    - var h = `height:${data.height}px;`
    each item in data.items
      figure.gallery__item
        a.gallery__link(href='#')
          .gallery__img(style=`background:url(dist/img/gallery_bg/${item.src}) no-repeat;width:${data.width}px;${h}`)
            .gallery__overlay
              span.gallery__plus(style=`line-${h}`) +
          figcaption.gallery__title!= item.title
